<div class="container-fluid">
  <navbar></navbar>
  <h1>{{ $ctrl.name }}</h1>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="n in $ctrl.albums track by $index">
      <div class="thumbnail">
        <img src="{{n.thumb}}" alt="{{n.title}}" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h3>{{n.title}}</h3>
          <p>{{n.description}}</p>
          <p><a href="/single/{{n.id}}" class="btn btn-primary" role="button">Open</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
