<div class="container-fluid">
  <navbar></navbar>
  <h1>{{ $ctrl.name }}</h1>
  <div class="row">
    <div class="col-md-12">
      <button class="btn" ng-click="showPopup()">Add new Video</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6" ng-repeat="n in $ctrl.videos[0] track by $index">
      <div class="thumbnail">
        <youtube-video video-id="n.url"></youtube-video>
        <div class="caption">
          <h3>{{n.name}}</h3>
          <p>{{n.url}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6" ng-repeat="n in $ctrl.albumsS track by $index">
      <div class="thumbnail">
        <youtube-video video-id="n.url"></youtube-video>
        <div class="caption">
          <h3>{{n.name}}</h3>
          <p>{{n.url}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-class="classPopup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closePopup()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Video</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label>Title</label>
          <input type="text" value="title" ng-model="title" class="form-control" placeholder="Title">
        </div>

        <div class="input-group">
          <label>Embed Youtube</label>
          <input type="text" value="url" ng-model="url" class="form-control" placeholder="Embed">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveVideo()">Save Video</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
